
<h1>Log in</h1>

<%= form_tag session_path do %>
  Username <%= text_field_tag :username, params[:username], class:"form-control username" %>
  Password <%= password_field_tag :password, params[:password], class:"form-control password" %>
  <br>
  <%= submit_tag "Log in", class:"btn btn-primary" %>
<% end %>
<br>
<%= link_to "Log in with GitHub", "auth/github" %>