<p id="notice"><%= notice %></p>

<h2>
  <%= @brewery.name %>
</h2>

<p>
  <i>
  Enstablished in
  <%=@brewery.year %>
  </i>
</p>

<p>
  Beer Count:
  <%= @brewery.beers.count %>
</p>

<p>
  <% @brewery.beers.each do |beer| %>
    <%= link_to beer.name, beer %>
    <% end %>
</p>

<p>
<strong></strong>
<% if @brewery.ratings.empty? %>
<% else %>
Has <%= pluralize(@brewery.ratings.count, 'rating')%>, with the average being <%= @brewery.average_rating%>
<% end %>
</p>

<%= link_to 'Edit |', edit_brewery_path(@brewery) unless current_user.nil? %>
<%= link_to 'Back', breweries_path %> |
<%= link_to 'list of beers', beers_path %>
