
<% cache @brewery do %> 
<dl class="dl-horizontal">
 <dt>Name: <%= @brewery.name %>
  <% if not @brewery.active  %>
    <span class="badge badge-info">inactive</span>
  <% else %>
    <span class="badge badge-info">active</span>
  <% end %>
  <%= link_to "change activity", toggle_activity_brewery_path(@brewery.id), method: :post, class: "btn btn-primary" %>
  </dt>
  <dt>Enstablished in <%=@brewery.year %> </dt>
  <dt>Beer Count: <%=@brewery.beers.count %> </dt> 
  <dt>
    <% if @brewery.ratings.empty? %>
    <% else %>
    Has <%= pluralize(@brewery.ratings.count, 'rating')%>, with the average being <%= round(@brewery.average_rating)%>
    <% end %>
</dt>
<% end %>

<br>
<dt>Beers:</dt>
</dl>

<ul class="list-group">
  <% @brewery.beers.each do |beer| %>
    <li class="list-item">
      <%= link_to beer.name, beer %>
    </li>
    <% end %>
</ul>

<%end%>
<br>

<%= edit_and_destroy_buttons(@brewery) %> <br> <br>
<%= link_to 'Back', breweries_path %> |
<%= link_to 'list of beers', beers_path %>
