<p id="notice"><%= notice %></p>

<%= form_tag places_path do %>
  city <%= text_field_tag :city, params[:city] %>
  <%= submit_tag "Search" %>
<% end %>

<% if @places %>
<Strong>Local weather in <%= params[:city] %>: </Strong> <br>
Temperature: <%=@weather["temp_c"]%>°C, but feels like: <%=@weather["feelslike_c"]%>°C   <br>
Wind speed: <%=@weather["wind_kph"]%>kph, direction: <%=@weather["wind_dir"]%><br>
The sky looks: <%=@weather["condition"]["text"]%>  <br><br>
  <table>
<thead>
  <% Place.rendered_fields.each do |field| %>
    <td><%= field %></td>
  <% end %>
</thead>
    <% @places.each do |place| %>
<tr>
  <% Place.rendered_fields.each do |field| %>
    <% if field == :name%>
    <td><%= link_to place.name, place_path(place.id) %></td>
    <% else %>
    <td><%= place.send(field) %></td>
    <%end%>
  <% end %>
</tr> 
    <% end %>
  </table>
<% end %> 